body { background-color: #111111; }
@font-face {
    font-family: 'fff_tusjbold';
    src: url('FFF_Tusj-webfont.eot');
    src: url('FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('FFF_Tusj-webfont.woff') format('woff'),
         url('FFF_Tusj-webfont.ttf') format('truetype'),
         url('FFF_Tusj-webfont.svg#fff_tusjbold') format('svg');

}
h1{
 COLOR:#fff;
	text-align:center;

}

div {
  padding: 40px;
  font-size: 100px;
  font-family:'fff_tusjbold';
  text-align:center;
  
  text-transform: uppercase;
  text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  color: red;
}
a{
	position:absolute;
	top:20px;
	left:20px;
	
}

div p { margin:0; }
#error:hover { text-shadow: 0 0 200px #009900,0 0 80px #009900,0 0 6px #009900; }
#code:hover { text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed; }
#error {
  color: #6AFB92;
  text-shadow: 0 0 80px #009900,0 0 30px #009900,0 0 6px #009900;
}
#error span {
  -webkit-animation: upper 11s linear infinite ;
   -moz-animation: upper 11s linear infinite ;
}
#code span:nth-of-type(2) {
   -webkit-transition: transform 0.1s;
  -webkit-animation: lower 10s linear infinite ;
   -moz-transition: transform 0.1s;
  -moz-animation: lower 10s linear infinite ;
    
position:absolute;
}
#code span:nth-of-type(1) {
  text-shadow: none;
  opacity:.4;
}
@-webkit-keyframes upper {
  0%,5.999%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96% {
    opacity:.99; text-shadow: 0 0 80px #009900,0 0 30px #009900,0 0 6px #009900; 
  }
  0.0001%,6%, 11.999%,19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999%,100%{
    opacity:0.4; text-shadow: none;  
  }
}
@-webkit-keyframes lower {

  0.999%,5.999%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,99.999% {
    opacity:1; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed; -webkit-transform:rotate(30deg); -webkit-transform-origin:0% 100%; -webkit-transition-duration: 0.001ms;
  }
  1%,6%, 11.999%,19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999%,100% { 
    opacity:0.3; text-shadow: none; -webkit-transform:rotate(10deg); -webkit-transform-origin:0% 100%;
	}
@-moz-keyframes upper {
  0%,5.999%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96% {
    opacity:.99; text-shadow: 0 0 80px #009900,0 0 30px #009900,0 0 6px #009900; 
  }
  0.0001%,6%, 11.999%,19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999%,100%{
    opacity:0.4; text-shadow: none;  
  }
@-moz-keyframes lower {

  0.999%,5.999%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,99.999% {
    opacity:1; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed; -moz-transform:rotate(30deg); -moz-transform-origin:0% 100%; -webkit-transition-duration: 0.001ms;
  }
  1%,6%, 11.999%,19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999%,100% { 
    opacity:0.3; text-shadow: none; -moz-transform:rotate(10deg); -moz-transform-origin:0% 100%;

	}
}
